@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
$screen-xs-max: 375px;
$screen-sm-max: 768px;
$screen-md-max: 992px;
$screen-lg-max: 1400px;
@mixin xs {
  @media (min-width: #{$screen-xs-max}) {
    @content;
  }
}
@mixin sm {
  @media (min-width: #{$screen-sm-max}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-md-max}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg-max}) {
    @content;
  }
}

$Strong-cyan: hsl(172, 67%, 45%);
$Very-dark-cyan: hsl(183, 100%, 15%);
$Dark-grayish-cyan-1: hsl(186, 14%, 43%);
$Dark-grayish-cyan-2: hsl(184, 14%, 56%);
$Light-grayish-cyan-1: hsl(185, 41%, 84%);
$Light-grayish-cyan-2: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
}

body {
  background-color: $Light-grayish-cyan-1;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}

.__my-container {
  background-color: $White;
  border-radius: 1rem;
  padding: 2rem;

  display: grid;
  gap: 2rem 2rem;
  @include xs {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  @include md {
    width: 60%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .section-lt,
  .section-rt {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
  }
}

.section-lt {
  color: $Dark-grayish-cyan-1;
  font-weight: 600;

  // .lt-bill {}
  .lt-sel {
    padding: 2rem 0;
    .tip-select {
      display: grid;
      gap: 1rem;

      @include xs {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }
      @include md {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      }

      button[id^="tip-"] {
        font-size: 1.5rem;
        font-weight: 700;

        border: none;
        border-radius: 0.3rem;
        background-color: $Very-dark-cyan;
        color: $White;
        transition: 150ms ease-in-out;

        &:hover {
          color: $Very-dark-cyan;
          background-color: $Light-grayish-cyan-1;
        }
        &[class="active-btn"] {
          color: $Very-dark-cyan;
          background-color: $Strong-cyan;
        }
      }
    }
  }
  // .lt-num {}
}

.section-rt {
  padding: 2rem;
  background-color: $Very-dark-cyan;
  display: flex;
  justify-content: space-between;

  .tp-display {
    .val-display {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;

      .val-lt {
        .tp-text {
          color: $Light-grayish-cyan-1;
        }
        .bt-text {
          color: $Dark-grayish-cyan-1;
        }
      }
      .val-rt {
        font-size: 2rem;
        font-weight: 700;
        color: $Strong-cyan;
      }
    }
  }

  .bt-display {
    input[type="reset"] {
      padding: 1rem;
      width: 100%;
      border: none;
      border-radius: 0.3rem;
      color: $Very-dark-cyan;
      background-color: $Strong-cyan;
      font-size: 1.3rem;
      font-weight: 700;
      transition: 150ms ease-in-out;

      &:hover {
        color: $Very-dark-cyan;
        background-color: $Light-grayish-cyan-1;
      }
      &:disabled {
        background-color: $Dark-grayish-cyan-1;
      }
    }
  }
}

.__my-input-group {
  position: relative;
  i {
    position: absolute;
    left: 0;
    top: 0.5rem;
    padding: 0.625rem 1.5rem;
    color: #aaa;
    transition: 0.3s;
  }
}

.__my-input {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
  border-radius: 0.3rem;
  width: 100%;
  height: 100%;
  background-color: $Light-grayish-cyan-2;
  border: 0.188rem solid $Light-grayish-cyan-2 !important;
  color: $Dark-grayish-cyan-2;
  height: 3rem;
  appearance: none;
  padding-right: 0.4rem;

  &:focus {
    outline-offset: 0px !important;
    outline: none !important;
    border: 0.188rem solid $Light-grayish-cyan-1 !important;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
