@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #c5e4e7;
}

body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.__my-container {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  gap: 2rem 2rem;
}

@media (min-width: 375px) {
  .__my-container {
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .__my-container {
    width: 60%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

.__my-container .section-lt,
.__my-container .section-rt {
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-lt {
  color: #5e7a7d;
  font-weight: 600;
}

.section-lt .lt-sel {
  padding: 2rem 0;
}

.section-lt .lt-sel .tip-select {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

@media (min-width: 375px) {
  .section-lt .lt-sel .tip-select {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .section-lt .lt-sel .tip-select {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

.section-lt .lt-sel .tip-select button[id^="tip-"] {
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  border-radius: 0.3rem;
  background-color: #00494d;
  color: white;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.section-lt .lt-sel .tip-select button[id^="tip-"]:hover {
  color: #00494d;
  background-color: #c5e4e7;
}

.section-lt .lt-sel .tip-select button[id^="tip-"][class="active-btn"] {
  color: #00494d;
  background-color: #26c0ab;
}

.section-rt {
  padding: 2rem;
  background-color: #00494d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-rt .tp-display .val-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.section-rt .tp-display .val-display .val-lt .tp-text {
  color: #c5e4e7;
}

.section-rt .tp-display .val-display .val-lt .bt-text {
  color: #5e7a7d;
}

.section-rt .tp-display .val-display .val-rt {
  font-size: 2rem;
  font-weight: 700;
  color: #26c0ab;
}

.section-rt .bt-display input[type="reset"] {
  padding: 1rem;
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  color: #00494d;
  background-color: #26c0ab;
  font-size: 1.3rem;
  font-weight: 700;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.section-rt .bt-display input[type="reset"]:hover {
  color: #00494d;
  background-color: #c5e4e7;
}

.section-rt .bt-display input[type="reset"]:disabled {
  background-color: #5e7a7d;
}

.__my-input-group {
  position: relative;
}

.__my-input-group i {
  position: absolute;
  left: 0;
  top: 0.5rem;
  padding: 0.625rem 1.5rem;
  color: #aaa;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.__my-input {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
  border-radius: 0.3rem;
  width: 100%;
  height: 100%;
  background-color: #f4fafa;
  border: 0.188rem solid #f4fafa !important;
  color: #7f9c9f;
  height: 3rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 0.4rem;
}

.__my-input:focus {
  outline-offset: 0px !important;
  outline: none !important;
  border: 0.188rem solid #c5e4e7 !important;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
